.hdate{
    text-align: center;
    margin-bottom: 1cm;
}

th{
    border-collapse: collapse;
    border: 2px solid black;
    background-color: black;
    color: white;
}

table,tr,td{
    border-collapse: collapse;
    border: 2px solid black;
}