.h13{
    text-align: center;
    margin-bottom: 1cm;
}
.autorzy{
    border:2px solid  black;
    font-weight: bold;
}
.zdjecie{
    height: 200px;
    width:200px;
    margin-right:1cm;
    border: 2px solid red;
}